@font-face {
  font-family: "Gilroy";
  src: url("../public/assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/assets/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/assets/fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #001e2b;
  --dark-green: #00684a;
  --light-green: #06ce95;
  --forest-green: #4b917e;
  --pastel-green: #baffdd;
  --gold: #dfa151;
  --red: #e6375d;
  --blue: #5154ff;
  --light-blue: #2299dd;
  --black: #061621;
  --true-black: #000;
  --gray: #99a3a1;
  --mid-gray: #b5c0be;
  --dark-gray: #707776;
  --light-gray: #dce6e4;
  --white: #f5f6f7;
  --shadow: #d3d3d3;
  --gray-tint: #f1f1f1;
  --dark-gray-tint: #e2e2e2;
}

html,
body {
  font-size: 20px;
  color: var(--black);
  background: var(--white);
  font-family: "Gilroy", sans-serif;
}

.dashboard-flex-container {
  display: flex;
}
