.wrapper {
  padding: 75px 16px;
  background: var(--dark-blue);
}

.container {
  max-width: 1200px;
  margin: auto;
}

.flexContainer {
  display: flex;
}

.header {
  font-size: 200%;
  color: var(--white);
  font-weight: 600;
  text-align: center;
}

.subHeader {
  color: var(--gray);
  font-weight: 500;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 75px;
  max-width: 800px;
  line-height: 1.5;
}

.title {
  font-size: 110%;
  color: var(--white);
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.description {
  font-size: 80%;
  color: var(--gray);
  line-height: 1.5;
  text-align: center;
  font-weight: 500;
}

.featureContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

@media screen and (max-width: 700px) {
  .flexContainer {
    flex-direction: column;
    align-items: center;
  }
  .featureContainer {
    margin-bottom: 60px;
    max-width: 400px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 150%;
  }
  .subHeader {
    font-size: 85%;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 130%;
  }
  .subHeader {
    font-size: 80%;
  }
  .description {
    font-size: 75%;
  }
  .title {
    font-size: 90%;
  }
}
