.wrapper {
  padding: 75px 16px;
  padding-right: 30px;
  background: var(--true-black);
}

.container {
  max-width: 1200px;
  margin: auto;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  letter-spacing: 3px;
  color: var(--white);
  text-decoration: none;
  font-size: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-top: -10px;
}

.sectionHeader {
  color: var(--white);
  font-size: 85%;
  font-weight: 500;
  margin-bottom: 25px;
}

.about,
.support,
.socials {
  display: flex;
  flex-direction: column;
}

.link {
  font-size: 70%;
  color: var(--gray);
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  color: var(--light-green);
}

.copyright {
  font-size: 65%;
  color: var(--gray);
  margin-top: 20px;
  padding-left: 10px;
}

@media screen and (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
    align-items: center;
  }
  .link {
    text-align: center;
  }
  .sectionHeader {
    text-align: center;
    margin-top: 50px;
  }
  .copyright {
    text-align: center;
    margin-top: 50px;
  }
}
