.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background: var(--white);
  height: 100vh;
  box-shadow: 0px 0px 10px var(--light-green);
  transition: 300ms;
  background: #000000e5;
}

.exitContainer {
  padding: 20px 16px;
  display: flex;
  justify-content: flex-end;
}

.link {
  color: var(--true-black);
  text-decoration: none;
  border-bottom: 1px solid #ffffff18;
  font-size: 80%;
  font-weight: 400;
  padding: 10px;
  transition: 300ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  transition: 300ms;
  transition-delay: 300ms;
  color: var(--white);
}

.link:hover {
  color: var(--white);
}

.arrow {
  opacity: 0;
  color: var(--white);
  transform: translateX(-10px);
  transition: 300ms;
}

.link:hover .arrow {
  opacity: 1;
  transform: translateX(10px);
}

.overlay {
  height: 100vh;
  width: 100%;
  background: #00000067;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
}
