.wrapper {
  padding: 0px 16px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .imageContainer {
  filter: drop-shadow(0px 0px 15px var(--light-green));
} */

.subHeader {
  color: var(--gray);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 90%;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.header {
  font-size: 250%;
  font-weight: 800;
  max-width: 500px;
}

.buttonContainer {
  margin-top: 30px;
  display: flex;
}

.getStartedBtn,
.pricingBtn {
  background: var(--dark-green);
  color: var(--white);
  font-size: 85%;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  transition: background 300ms;
  min-width: 140px;
  max-width: 140px;
  text-align: center;
}

.getStartedBtn:hover {
  background: var(--light-green);
  color: var(--black);
}

.pricingBtn {
  background: var(--light-gray);
  color: var(--black);
}

.pricingBtn:hover {
  background: var(--dark-blue);
  color: var(--light-green);
}
