.wrapper {
  padding-top: 26px;
  position: absolute;
  top: 30px;
  right: 0px;
  /* width: 130px; */
  width: 220px;
  transition: 400ms;
}

.show {
  z-index: 9999;
  opacity: 1;
  transform: translateY(0);
}

.hide {
  z-index: -1;
  opacity: 0;
  transform: translateY(10px);
}

.container {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 5px 20px var(--shadow);
  border-radius: 8px;
}

.container::after {
  height: 20px;
  width: 20px;
  background: #fff;
  content: "";
  display: block;
  top: 19px;
  right: 45px;
  transform: rotate(45deg);
  position: absolute;
  border-radius: 2px;
}

.link {
  padding: 10px 16px;
  color: var(--black);
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.link:hover .iconContainer {
  transform: scale(1.12);
}

.linkContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 70%;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}

.arrow {
  opacity: 0;
  transform: translateX(10px);
  transition: 300ms;
}

.link:hover .arrow {
  opacity: 1;
  transform: translateX(0);
}

.subTitle {
  font-size: 65%;
  font-weight: 500;
}

.iconContainer {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: linear-gradient(45deg, #01ff6b, #f2ff3d);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: 300ms;
}
