.wrapper {
  padding: 10px 16px;
  border-bottom: 1px solid #dadada;
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 9999;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.title {
  letter-spacing: 3px;
  color: #1a1a1a;
  text-decoration: none;
  font-size: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.centerLinkContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  font-size: 75%;
  margin-right: 20px;
  transition: 300ms;
  font-weight: 600;
}

.link:hover {
  color: var(--pink);
}

.signupBtn,
.loginBtnMobile {
  padding: 8px 20px;
  text-decoration: none;
  font-size: 75%;
  font-weight: 600;
  border-radius: 5px;
  background: var(--pink);
  color: var(--white);
  transition: 300ms;
  box-shadow: 0px 3px 10px var(--pink);
}

.loginBtnMobile {
  padding: 6px 20px;
}

.signupBtn:hover {
  transform: scale(0.95);
  box-shadow: 0px 4px 20px var(--pink);
}

.loginBtnMobile:hover {
  transform: scale(0.95);
  box-shadow: 0px 4px 20px var(--pink);
}

.burger {
  color: var(--black);
  cursor: pointer;
  margin-left: 10px;
}

.mobileActionContainer {
  display: none;
}

.actionContainer {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .centerLinkContainer {
    display: none;
  }
  .actionContainer {
    display: none;
  }
  .mobileActionContainer {
    display: flex;
    align-items: center;
  }
}
