.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerCircle,
.innerCircle {
  position: absolute;
}

.outerCircle {
  height: 18px;
  width: 18px;
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1.5s ease infinite;
}

.innerCircle {
  height: 10px;
  width: 10px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid var(--white);
  border-left: 2px solid var(--white);
  border-radius: 50%;
  animation: spinReverse 1.5s linear infinite;
}

/* .ball {
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background: var(--white);
} */

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes spinReverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
